*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
#about-me *{
    font-family: 'Poppins','Roboto',sans-serif;
    font-size: 2.4rem;
}
article{
    font-family: 'Poppins',"Roboto", sans-serif;
}
#home {
    z-index: 10;
    transition: color 200ms linear, box-shadow 200ms linear;
}
#home.active{
    background-color: #272727 !important;
    box-shadow: 2px 2px 4px rgb(20, 20, 20);
}
body > *{
    background-color: #353535;
}
#content-wrapper > *:nth-child(even){
    background-color: #2b2c2c;
}
#home div:first-child{
    position: relative;
    z-index: 2;
    transition: background-color 200ms linear, box-shadow 400ms linear;
}

h3.orange-ul{
    width: 10rem;
    text-align: center;
    margin: 0 auto;
}
.orange-ul::after{
    content: " ";
    border: 2px solid #f3aa2b !important;
    display: block;
}

.top-container img{
    width: 50px;
}
.bi-list{
    display: none !important;
    cursor: pointer;
    transition: color 400ms linear;
    color: #fff;
}
ul a{
    text-decoration: none;
    color: #fff;
    line-height: 2rem;
    font-weight: 600;
    transition: color 400ms linear;
}
ul a:hover, .bi-list:hover{
    color: #e7c115;
}

.drop-down-small-screen{
    position: absolute;
    transform: translateY(-120%);
    opacity: 0;
    z-index: 1;
    transition: transform 300ms linear, opacity 600ms linear;
}
.drop-down-small-screen.active{
    opacity: 1;
    transform: translateY(0);
}
.myPhoto img{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.about img {
    width: 100%;
}
.resume-btn a{
    text-decoration: none;
    color: #fff;
}
.resume-btn{
    width: 25%;
    padding: 3% 0;
    background-color: #353535;
    text-align: center;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #f3aa2b;
    color: #fff;
    transition: background-color 300ms ease-in;
}
.resume-btn:hover{
    background-color: #feb633;
}

.mySwiper{
    position: relative;
    padding: 5% 0;
    overflow-x: hidden;
}
.swiper-pagination{
    position: absolute;
    margin: 2% 0;
}

.swiper {
    width: 90%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 5px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 400ms ease;
  }
  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.5);
  }
  .project-container{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .project-description{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    transform: translateY(0%);
    font-size: 1rem;
    text-align: center;
    transition: transform 250ms linear;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
  }
  .project-description > p {
    font-family: 'Poppins', 'Roboto', sans-serif;
    width: 95%;
    margin: 0 auto;
  }
  .project-description > p {
    margin-top: 1rem;
  }
  .project-description > a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
  }
  .project-container:hover .project-description{
    transform: translateY(-100%);
  }

  .project-container:hover img{
    transform: scale(1.2);
  }
  
  .btn-projectLink{
    margin: 50% auto 0 auto;
    background-color: rgb(255, 102, 0);
    width: 25%;
    border-radius: 3px;
    cursor: pointer;
    padding: 1% 0;
    font-weight: 500;
    transition: box-shadow, transform 300ms linear;
  }
  .btn-projectLink:hover {
    box-shadow:2px 2px 3px rgb(117, 117, 117);
    transform: scale(1.02);
  }

  
  
  
  .projects-article{
    padding: 8% 0;
    font-family: 'Poppins','Roboto', sans-serif;
    font-weight: 600;
    columns: #fff;
  }


  .skills {
    overflow-x: hidden;
}

.skill-list{
    position: relative;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgb(60, 60, 60);
}
.skill-list > ul {
    padding-left: 4%;
}
.skill-list > ul > li {
    padding: 1% 0;
    color: #fff;
    font-family:'Poppins',sans-serif;
}
.front-end  .img-wrapper {
    position: absolute;
    width: 100%;
    display: block;
    top:-40px;
    margin: 0 auto;
}
.back-end  .img-wrapper {
    position: absolute;
    width: 100%;
    display: block;
    top:-25px;
    margin: 0 auto;
}
.img-wrapper > img {
    display: block;
    margin: 0 auto;
    padding: 0 1%;
}
/*Card scroll animations*/
.front-end > .skill-list{
    transform: translateX(100%);
    transition: transform 600ms linear;
}
.back-end > .skill-list{
    transform: translateX(-100%);
    transition: transform 800ms linear;
}
.card-active{
    transform: translateX(0) !important;
}

/* Contact section */

/* .contact-form > h2::after{
    content: " ";
    display: block;
    border-bottom: 4px solid #f3aa2b;
    width: 25%;
    margin: 1% auto;
} */
.infos{
    color: #828b94;
    font-weight: 600;
}
.infos > div {
    padding: 2% 0;
}
.fas, .far {
    vertical-align:middle;
    padding: 0 5% 0 0;
}

.form  input, .form textarea {
    background-color: #3f3f3f;
    outline: none;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 3px;
    padding: 2%;
    caret-color: #f8f8f8;
    transition: box-shadow 200ms linear;
}
.form input:focus, .form textarea:focus{
    box-shadow: 2px 2px 3px rgb(41, 41, 41);
}
.form ::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: #afafaf;
}
.form textarea{
    width: 95%;
    height: 100%;
    line-height: 1.4rem;
}
.form {
    padding: 6% 0;
}
.form> h4 {
    font-family: "Poppins","Roboto",sans-serif;
    color: #664b18;
    text-decoration: underline;
}

footer > p{
    color: #afafaf;
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
}
.sm-icons{
    text-align: center;
    padding: 6% 0;
}
.sm-icons > a {
    display: inline-block;
    /* border: 1px solid #feb633; */
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    margin: 0 2%;
    border-radius: 50%;
    background-color: #202020;
    transition: background-color 400ms ease-in;
}
.sm-icons >a >i{
    vertical-align: middle;
    line-height: 50px;
    color: #9f9f9f;
    transition: color 400ms ease-in;
}

.sm-icons > a:hover{
    background-color: #feb633;
}
.sm-icons > a:hover i{
    color: #fff;
}

.skill_icons{
    width: 4rem;
    font-size: 3.4rem;
}

.arx_lancifer{
    font-size: 1rem;
    text-align: center;
    background-color: #202020;
    border-top: 1px solid #3f3f3f;
}

@media all and (max-width: 786px){
    
    #home .drop-down-lg-screen{
        display: none;
    }
    .bi-list{
        display: block !important;
    }
    .drop-down-small-screen{
        display:block ;
    }
    #about-me *{
        font-size: 1.6rem;
    }
}